*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: black;
    color: RGB(171, 150, 111);

    font-family: Arial;
    font-size: 14pt;
}

h1{
    margin-left: 8px;
}

li{
    position: relative;
    margin-bottom: 8px;
    width: 100%;
}

#jogoBase{
    border-right: 2px solid RGB(171, 150, 111);
}

#jogoBase, #SOTE{
    display: inline-block;
    overflow: auto;
    width: 50%;

    margin: 12px 0 12px 0;
    padding: 8px;
}

#listaBase, #listaSOTE{
    padding: 4px 0 4px 40px;
}

.conteiner{
    width: 100vw;
    min-height: 100vh;

    display: flex;
}

.ajuda-clique{
    margin: 0 0 12px 12px;
    font-size: 12pt;
}